#course .head {
    font-family: 'Roboto', sans-serif;
}

#course .course-title, #course .course-description {
    padding: 10px 20px 0px 20px !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.course-navbar {
    padding: 0 5vw 2vh 5vw;
}

.course-navbar .course-nav-item {
    font-family: Inconsolata;
    text-decoration: none #fff;
    color: #1a1a1a !important;
    font-size: x-large;
    text-underline-offset: 13px;
    cursor: pointer;
    transition: all 0.3s ease-in-out !important;
    display: inline-flex !important;
}

.course-navbar {
    overflow-x: scroll;
    padding-right: 100px !important;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.course-navbar .course-nav-item:hover {
    text-decoration: underline #1a1a1a;
}

.course-navbar .active-tab {
    text-decoration: underline #aa3b3b !important;
}

.course-navbar::-webkit-scrollbar {
    display: none;
}

.course-navbar .course-description {
    font-weight: bolder;
    font-size: large;
}

.material-ui-icon {
    margin: 7px 10px 0px 0px;
}
