#course .head {
    font-family: 'Roboto', sans-serif;
}

#course .course-title, #course .course-description {
    padding: 10px 20px 0px 20px !important;
    font-family: 'Inter', 'Roboto', sans-serif;
    font-weight: 400;
}

.course-navbar {
    padding: 0 5vw 1.1vh 5vw;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.course-navbar .course-nav-item {
    font-family: Inconsolata;
    text-decoration: none #fff;
    color: #1a1a1a !important;
    font-size: x-large;
    text-underline-offset: 17px;
    cursor: pointer;
    transition: all 0.3s ease-in-out !important;
    display: inline-flex !important;
}

.course-navbar .course-nav-item:hover {
    text-decoration: underline #1a1a1a;
}

.course-navbar .active-tab {
    text-decoration: underline #aa3b3b !important;
}

.course-navbar::-webkit-scrollbar {
    display: none;
}

#course .course-description {
    white-space: pre-wrap;
}

.material-ui-icon {
    width: fit-content;
}
