#course .head {
    font-family: 'Roboto', sans-serif;
    padding: 10px 5px 0px 20px !important;
}

#course .title {
    font-weight: bold;
}

#course-nav .course-nav-item {
    font-family: Inconsolata;
    text-decoration: none;
    color: #1a1a1a !important;
    font-size: x-large;
    text-underline-offset: 13px;
    cursor: pointer;
    transition: all 0.3s ease-in-out !important;
}

#course-nav .course-nav-item:hover {
    text-decoration: underline #1a1a1a;
}

#course-nav .active-tab {
    text-decoration: underline #aa3b3b !important;
}

#course-nav {
    overflow-x: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#course-nav::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#course-nav {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}