#add-project-requirement .title {
    font-family: Roboto, sans-serif;
    font-weight: 600;
}

#add-project-requirement .input-field {
    height: calc(1.5em + .75rem + 2px);
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem .75rem;
    font-size: 1.5rem !important;
    width: 100%;
}

#add-project-requirement textarea {
    resize: none;
    min-height: 100px !important;
}