.register {
    font-family: 'Inconsolata', monospace !important;
}
.register .role .btn {
    background-color: #f7f7f7 !important;
    border-color: #fcfcfc !important;
    color: #424242 !important;
    outline: none !important;
    box-shadow: none !important;
}

.register .role .focus, .register .role .active {
    background-color: #1a1a1a !important;
    border-color: #202020 !important;
    color: white !important;
}

.register .register-header, .register .register-form {
    padding: 5vh 5vw 0 5vw;
}

.register .register-header {
    text-align: center;
}

.register .register-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
}

.register .role {
    font-size: larger !important;
    outline: none !important;
    box-shadow:  none;
}

.register .role:focus, .register .role:active, .register .role:active:focus {
    outline: none !important;
    box-shadow: none !important;
}