@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.disable-link-style {
  color: inherit;
  text-decoration: none;
}

.link {
  font-weight: bold;
  font-family: Inconsolata !important;
  text-decoration: none;
}

.link:hover, .disable-link-style {
  text-decoration: none !important;
  color: inherit !important;
}

.required-text {
  color: #f52617;
  font-weight: bold;
}
