@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
  margin: 0;
  font-family: 'Inconsolata', monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.disable-link-style {
  color: inherit;
  text-decoration: none;
}

.link {
  font-weight: bold;
  font-family: Inconsolata !important;
  text-decoration: none;
}

.link:hover, .disable-link-style {
  text-decoration: none !important;
  color: inherit !important;
}

.required-text {
  color: #f52617;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
