@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.f1 {
  font-size: 28px !important;
}
.f2 {
  font-size: 24px !important;
}
.f3 {
  font-size: 20px !important;
}

@media only screen and (max-width: 600px) {
  .f1 {
    font-size: 24px !important;
  }
  .f2 {
    font-size: 20px !important;
  }
  .f3 {
    font-size: 18px !important;
  }
}

.bg-g-gray {
  background: rgb(232,232,232);
  background: -moz-linear-gradient(287deg, rgba(232,232,232,1) 24%, rgba(250,251,252,1) 100%);
  background: -webkit-linear-gradient(287deg, rgba(232,232,232,1) 24%, rgba(250,251,252,1) 100%);
  background: linear-gradient(287deg, rgba(232,232,232,1) 24%, rgba(250,251,252,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8e8e8",endColorstr="#fafbfc",GradientType=1);
}

.bg-g-dark {
  background: rgb(34,34,34);
  background: -moz-linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(37,37,37,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(37,37,37,1) 100%);
  background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(37,37,37,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#222222",endColorstr="#252525",GradientType=1);
}

.form-peam:focus, .register .form-peam:active, .form-peam:active:focus {
  outline: none !important;
  box-shadow: none !important;
}

.disable-link-style {
  color: inherit;
  text-decoration: none;
}

.link {
  font-weight: bold;
  font-family: Inconsolata;
  text-decoration: none;
  color: #1a1a1a !important;
}

.link:hover, .disable-link-style {
  text-decoration: none !important;
}

.disable-link-style {
  color: #1a1a1a !important;
}
.link:hover {
  color: #3c6aa7 !important;
}

.required-text {
  color: #f52617;
  font-weight: bold;
}
