.project-req-item {
    border-radius: 5px;
    padding: 10px;
    background:  rgba(0, 0, 0, 0.075);
    color: #1a1a1a !important;
    position: relative;
    box-shadow: 1px 1px 3px #1a1a1a;
    transition: 0.5s;
}

.project-req-item:hover {
    box-shadow: 3px 3px 4px #1a1a1a;
}

.project-req-item .project-req-title, .project-req-item .project-req-description {
    padding: 5px 10px;
    border-radius: inherit;
}

.project-req-item .project-req-title {
    background-color: rgb(48, 48, 48);
    color: #fff;
    font-family: 'Roboto';
}

.project-req-item .project-req-deadline {
    position: absolute;
    bottom: 5%;
    font-weight: 600;
}

.project-req-item .more-info {
    text-align: right;
    font-weight: 600;
}